
<div class="background"></div>
<div class="inicio-background">
  <mat-card class="inicio-card body mat-elevation-z7">
    <div>
      <div class="">
        <h1 class="custom-title">Life </h1>
      <h1 class="custom-title1">Beat</h1>
      <div><img src="/assets/img/heart.png" class="inicio-icon" /></div>
      </div>
      <p class="intro-text">LifeBeat es una página web revolucionaria que utiliza algoritmos predictivos avanzados para predecir eventos de enfermedades del corazón basados en 11 características clínicas clave. Nuestro objetivo es proporcionarte información precisa y útil para que puedas tomar medidas preventivas y mantener un estilo de vida saludable.
        </p>
      <p >¡Siente el latido de la vida con LifeBeat y asegura un futuro más saludable!</p>
    </div>
    <br>
    <button  class="ancho button" mat-raised-button color="warn" routerLink="/mainpage" routerLinkActive="active" style="padding-top: 10px;">Continuar</button>
  </mat-card>
</div>
