
<div class="background"></div>
<div class="inicio-background">
  <mat-card class="inicio-card body mat-elevation-z7">
    <div>
      <div class="">
        <h1 class="custom-title">Life </h1>
      <h1 class="custom-title1">Beat</h1>
      <div><img src="/assets/img/heart.png" class="inicio-icon" /></div>
      </div>
      <p class="intro-text">¡Descubre tu probabilidad de supervivencia cardíaca con LifeBeat!
        LifeBeat es una aplicación web que utiliza algoritmos predictivos avanzados para predecir la probabilidad de supervivencia en pacientes con problemas cardiacos. Nuestros algoritmos analizan datos clínicos y factores de riesgo para ofrecerte una evaluación precisa de tu salud cardíaca.
        </p>
      <p >¡Siente el latido de la vida con LifeBeat y asegura un futuro más saludable!</p>
    </div>
    <br>
    <button  class="ancho button" mat-raised-button color="warn" routerLink="/mainpage" routerLinkActive="active" style="padding-top: 10px;">Continuar</button>
  </mat-card>
</div>
