<div>
  <mat-toolbar>
    <div><a routerLink="/mainpage" routerLinkActive="active" style="text-decoration: none;">

      <div class="organicetitle">
        <img src="/assets/img/heart.png" class="toolbaricon" />
        <span class="custom-title">Life</span>
        <span class="custom-title1">beat</span>
      </div>
    </a></div>
    <button mat-button class="mat-button custom-button" routerLink="/informacion" routerLinkActive="active">Informacion</button>
    <button mat-button class="mat-button custom-button" routerLink="/dataset" routerLinkActive="active">Dataset</button>
    <button mat-button class="mat-button custom-button" routerLink="/creditos" routerLinkActive="active">Creditos</button>
    <span class="example-spacer"></span>
    <a routerLink="/inicio" routerLinkActive="active" style="text-decoration: none;">
    <mat-icon  class="symbols-outlined" style="color: whitesmoke;">
      home
      </mat-icon>
    </a>
  </mat-toolbar>
</div>

