<app-navbar></app-navbar>
<div class="background"></div>
<mat-card class="maincard margin-top body mat-elevation-z8">
<h2 class="titulo">Contexto</h2>

<div class="texto-info">
<p>Las enfermedades cardiovasculares (ECV) son la principal causa de muerte en todo el mundo y se cobran aproximadamente 17,9 millones de vidas cada año, lo que representa el 31 % de todas las muertes en todo el mundo. Cuatro de cada 5 muertes por ECV se deben a ataques cardíacos y accidentes cerebrovasculares, y un tercio de estas muertes ocurren prematuramente en personas menores de 70 años. La insuficiencia cardíaca es un evento común causado por ECV y este conjunto de datos contiene 11 características que pueden usarse para predecir una posible enfermedad cardíaca.

  <br>Las personas con enfermedades cardiovasculares o que tienen un alto riesgo cardiovascular (por la presencia de uno o más factores de riesgo como hipertensión, diabetes, hiperlipidemia o enfermedad ya establecida) necesitan una detección y manejo temprano en el que un modelo de aprendizaje automático puede ser de gran ayuda.</p>
</div>

</mat-card>

<mat-card class="maincard1" >
  <h2 class="titulo">Información de atributo</h2>
  <div class="texto-info">
    <p>
      1. Edad: edad del paciente [años]
      <br>
      2. Sexo: sexo del paciente [M: Masculino, F: Femenino]
      <br>
      3. ChestPainType: tipo de dolor torácico [TA: angina típica, ATA: angina atípica, NAP: dolor no anginoso, ASY: asintomático]
      <br>
      4. PA en reposo: presión arterial en reposo [mm Hg]
      <br>
      5. Colesterol: colesterol sérico [mm/dl]
      <br>
      6. BS en ayunas: azúcar en sangre en ayunas [1: si BS en ayunas > 120 mg/dl, 0: en caso contrario]
      <br>
      7. ECG en reposo: resultados del electrocardiograma en reposo [Normal: normal, ST: con anomalías en la onda ST-T (inversión de la onda T y/o elevación o depresión del ST > 0,05 mV), HVI: hipertrofia ventricular izquierda probable o definitiva según los criterios de Estes]
      <br>
      8. MaxHR: frecuencia cardíaca máxima alcanzada [Valor numérico entre 60 y 202]
      <br>
      9. ExerciseAngina: angina inducida por el ejercicio [Y: Sí, N: No]
      <br>
      10. Oldpeak: oldpeak = ST [Valor numérico medido en depresión]
      <br>
      11. ST_Slope: la pendiente del segmento ST del ejercicio máximo [Arriba: pendiente ascendente, Plana: plana, Abajo: pendiente descendente]
    </p>
    </div>
</mat-card>
