.maincard{
  height: 35%;
  width: 60%;
  margin-top: 5px;
  margin-left: 10px;
  padding-bottom: -10%;
}
.maincard1{
  height: 51%;
  width: 60%;
  margin-top: 5px;
  margin-left: 10px;
  padding-bottom: -10%;
}

.titulo{
  margin-top: 10px;
  text-align: center;
  font-family: fantasy;
  margin-bottom: -3px;
}

.tam-img{
  height: 50%;
  width: 50%;
}

.texto-info{
  font-size: x-small;
  margin-left: 20px;
}

.background{
  background-image: url('https://thumbs.dreamstime.com/b/el-doctor-man-stethoscope-84232406.jpg');
  background-size: cover;
  background-position: right;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
