.ancho {
  width: 80%;
}

.maincard {
  max-width: 1200px;
  margin-left: 2.5rem;
  margin-right: 2.4rem;
  background: whitesmoke;
}

::ng-deep{
  mat-form-field.mat-form-field{
    background: none;
  }
}

.toolbarbutton{
  margin-top: 30px;
}

.centerbutton{
  display: flex;

}

.toolbar-color{
background-color: none;

}

.button-style{
    display: flex;
    width: 100%;
}

.background {
  background-image: url('https://fondosmil.com/fondo/36861.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
