<app-navbar></app-navbar>

<mat-card class="maincard margin-top body mat-elevation-z5">

    <mat-grid-list cols="4" rowHeight="70px">


        <mat-grid-tile [colspan]="1" [rowspan]="4">
          <img src="../../../assets/img/O-A.png" class="edit-icon" />
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="4">
          <img src="../../../assets/img/R-B.png" class="edit-icon">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="4" >
          <img src="../../../assets/img/S-F.png" class="edit-icon">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="4" class="edit-icon">

        </mat-grid-tile>
    </mat-grid-list>

  </mat-card>
