<app-navbar></app-navbar>

<mat-card class="maincard margin-top body mat-elevation-z1">

    <mat-grid-list cols="4" rowHeight="70px">
      <h1 style="text-align: center"><b>Integrantes Grupo De Trabajo</b></h1>
      <div>
        <mat-grid-tile [colspan]="1" [rowspan]="4">
          <img src="../../../assets/img/EB.jpg" class="edit-icon" />


        </mat-grid-tile>
      </div>

        <mat-grid-tile [colspan]="1" [rowspan]="4">
          <img src="../../../assets/img/SF.jpg" class="edit-icon">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="4" >
          <img src="../../../assets/img/OA.jpg" class="edit-icon">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="4" class="edit-icon">
          <img src="../../../assets/img/RB.jpg" class="edit-icon">
        </mat-grid-tile>
    </mat-grid-list>

  </mat-card>
